section
	div(class="max-w-cont px-8 mx-auto")
		div(class="mb-16 flex items-center justify-between gap-x-6")
			h2(class="") Примеры работ

			div(class="flex")
				button(type="button" class=" w-16 flex items-center justify-center border border-px border-[#D9D9D9] border-r-0 text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
					span.icon-arrow-left

				button(type="button" class="aspect-square w-16 flex items-center justify-center border border-px border-[#D9D9D9] text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
					span.icon-arroq-ritght


	div(class="max-w-cont px-8 mx-auto")
