section(class="mb-24 md:mb-12")
	div(class="max-w-cont px-8 mx-auto xxl:px-4")
		div(class="mb-16 flex items-center justify-between gap-x-6 sm:mb-7")
			h2(class="") Примеры работ

			div(class="flex xs:hidden")
				button(type="button" class="examples-prev w-16 flex items-center justify-center border border-px border-[#D9D9D9] border-r-0 text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
					span.icon-arrow-left

				button(type="button" class="examples-next aspect-square w-16 flex items-center justify-center border border-px border-[#D9D9D9] text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
					span.icon-arroq-ritght


	div(class="max-w-cont px-8 mx-auto xxl:px-4")
		div(id="examples-slider" class="")
				+swiper('my-swiper', false, false, false)
					- for (var n=0; n < 2; n++)
						- for (var i=0; i < 8; i++)
							div(class="swiper-slide ")
								
								div(class="group/example relative aspect-[438/295] cursor-pointer mb-6 sm:mb-4 xs:aspect-[136/132]" data-graph-path=i data-graph-animation="fadeInUp")
									
									div(class="absolute w-full h-full left-0 right-0 z-[2] bg-black/[.54] transition-opacity opacity-0 group-hover/example:opacity-100")
										
										div(class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-16 h-16 bg-[#969696]/75 rounded-full")
											
											div(class="absolute flex items-center justify-center top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-11 h-11 bg-white/75 rounded-full text-accent text-3xl font-medium") +
									
									img.w-full.h-full.object-cover(src="img/examples/"+(i+1)+".jpg" alt="alt")

								p(class="tex-xl sm:text-xs") Беседка уличная 120 кв.м.

		div(class="mt-7 flex hidden xs:flex")
			button(type="button" class="examples-prev w-16 flex items-center justify-center border border-px border-[#D9D9D9] border-r-0 text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
				span.icon-arrow-left

			button(type="button" class="examples-next aspect-square w-16 flex items-center justify-center border border-px border-[#D9D9D9] text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
				span.icon-arroq-ritght

