div(class="max-w-cont mx-auto px-8 grid grid-cols-4 gap-x-6 gap-y-2.5 mb-14")
	- var colors = ['#00AEEF', '#FFF204', '#EE008D', '#EE008D'];
	- var items = ['Cобственное <br>производство', 'Прямые поставки <br>от производителя', 'Современное <br>оборудование', 'Современное <br>оборудование'];
		each item, i in items
			article(class="flex flex-col gap-y-14 gap-x-5 px-9 py-10 bg-["+colors[i]+"] aspect-[438/254]")
				div(class="w-[78px] h-[78px]")
					img(class="w-full max-h-full" src="img/features/"+(i+1)+".svg" alt="alt")

				h3(class=i==1 ? "text-lg text-accent font-demibold leading-[calc(24_/_18)" "text-lg text-white font-demibold leading-[calc(24_/_18)")