header(class="sticky w-full left-0 top-0 overflow-hidden")
	div(class="max-w-cont mx-auto flex gap-x-2.5 justify-between items-center min-h-28 py-2.5")
		div(class="flex items-center gap-x-12")
			div(class="max-w-48")
				img.w-full(src="img/logo.svg" alt="alt")

			nav(class="mt-4")
				- let menu = ['Каталог', 'Материалы', 'FAQ', 'Работы', 'О компании', 'Отзывы'];
				ul(class="flex items-center gap-x-6 gap-y-2")
					each li, i in menu
						li(class="")
							a(href="#" class="text-lg font-bold text-accent leading-5")= li

		div(class="flex gap-x-7 text-accent mt-4")
			a(href="mailto:ru_lon68@mail.ru" class="flex items-center gap-x-3 text-lg font-bold leading-5 text-accent")
				span.icon-mail
				ru_lon68@mail.ru

			a(href="tel:89107577471" class="flex items-center gap-x-3 text-lg font-bold leading-5 text-accent")
				span.icon-phone
				8 (910) 757-74-71