section(class="")
	div(class="max-w-[1824px] mx-auto pt-32 bg-accent")
		div(class="flex gap-x-28")
			div(class="relative shrink-0 grow-0 basis-[36.18%] pb-[269px]")
				div(class="absolute bottom-0 left-0 w-full h-[26.84%] bg-[url('../img/quiz/decor.svg')] bg-no-repeat")
				h2(class="mb-8 text-blue") Рассчитайте стоимость 
					span.block.text-white ваших окон прямо сейчас!
				p(class="ml-40 text-2xl text-white lg:mx-10") Ответьте на несколько вопросов
			
			div(class="shrink grow basis-auto pr-40 pb-28")
