section(data-anchor-target="reviews" class="pb-28 md:pb-12")
	div(class="max-w-[1824px] mx-auto xxl:px-4")
		div(class="mb-16 flex items-center justify-between gap-x-6 sm:mb-7")
			h2(class="") Отзывы

			div(class="flex sm:hidden")
				button(type="button" class="reviews-prev w-16 flex items-center justify-center border border-px border-[#D9D9D9] border-r-0 text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
					span.icon-arrow-left

				button(type="button" class="reviews-next aspect-square w-16 flex items-center justify-center border border-px border-[#D9D9D9] text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
					span.icon-arroq-ritght
		
		+swiper('reviews-swiper', false, false, false)
			- for (var i=0; i < 4; i++)
				article(class="swiper-slide pt-12 px-11 pb-8 flex flex-col border border-[#E6E6E6] md:px-7 md:pt-8 md:pb-2.5")
					div(class="mb-12 shrink-0 grow-0 aspect-[352/200] md:mb-5 md:aspect-[232/152]")
						img.w-full.h-full.object-cover(src="img/reviews/"+(i+1)+".jpg" alt="alt")
					h4(class="mb-3 font-demibold text-xl") Андрей
					p(class="mb-16 text-lg md:mb-2 md:text-sm") Заказал шторы из полиуретана, отлично сделали ребята, вообще супер, сам не ожидал. Придумывал разные решения себе, но вот оказалось достаточно приемлемо по цене, очень качественно, отработали прекрасно мастера, супер.

					button(type="button" data-graph-path="2-"+i data-graph-animation="fadeInUp" class="btn pl-0 text-blue font-demibold bg-transparent self-start hover:bg-transparent")
						span Подробнее
						span.icon-exit

		div(class="mt-7 flex hidden sm:flex")
			button(type="button" class="reviews-prev w-16 flex items-center justify-center border border-px border-[#D9D9D9] border-r-0 text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
				span.icon-arrow-left

			button(type="button" class="reviews-next aspect-square w-16 flex items-center justify-center border border-px border-[#D9D9D9] text-[#53545D] text-xs transition-colors hover:bg-white hover:text-accent xs:w-10 xs:text-xs")
				span.icon-arroq-ritght