@use "sass:math";

// основные стили икомун
@import "../fonts/icomoon/style";
// измеенен путь до файлов. Архив, полученный с сайта icomoon, распоковывать в fonts
@import "_misc/_icomoon-custom";
@import "fonts";
@import "libs";
// @import "_misc/_vars.scss";
@import "_misc/_functions.scss";
// @import "_misc/_mixins";
// @import "_misc/_rating";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	body{
		@apply font-regular text-accent;

		.lock & {
			overflow: hidden;
			touch-action: none;
			overflow-behavior: none;
		}
	}
	h2{
		@apply relative ml-40 text-6xl leading-[calc(70/60)] font-demibold text-accent before:absolute before:-left-40 before:top-6 before:w-28 before:h-2 before:bg-blue lg:before:w-7 lg:before:-left-10 lg:before:top-3 lg:mx-10;
	}
}
@layer components { //снижает приоритет стилей, их можно будет перебить классами в хтмл
	.btn{
		@apply px-6 py-5 h-16 flex justify-center items-center gap-x-5 text-lg font-bold text-white border border-transparent bg-blue transition-colors hover:bg-blue/70 xs:text-base xs:h-12 xs:px-4 xs:gap-x-2.5;
	}
}
